.heading-title {
  padding-top: 6rem;
  font-size: 69px;
  white-space: pre-wrap;
}

.heading-description {
  padding-bottom: 6rem;
}

@media (max-width: 600px) {
  .heading-title {
    font-size: 3rem;
    padding: 2rem 0;
  }

  .heading-description {
    padding-bottom: 2rem;
  }
}